name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Snake Animation
        uses: Platane/snk@v3
        id: snake
        with:
          github_user_name: Gucs1

          # Arquivos gerados
          outputs: |
            dist/snake.svg
            dist/snake-dark.svg

          # CUSTOMIZAÇÃO COMPLETA - DEIXAR FUNDO PRETO
          palette: github-dark        # deixa base escura
          color_snake: "#00BFFF"       # cor da cobrinha
          color_dots: "000000,ffffff"  # FUNDO PRETO - DOTS: fundo,atividade

      - name: Publish Snake to GitHub Pages (output branch)
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
